<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./styles/login.css">
</head>

<body>
    <div class="container">
        <h1 class="header">Create an account</h1>
        <form class="form">
            <input type="text" class="input" placeholder="Username" name="userName" required>
            <input type="email" class="input" placeholder="Email" name="email" required>
            <input type="password" class="input" placeholder="Password" name="password" required>
            <button class="btn">Signup</button>
        </form>
    </div>
</body>
<script src="./logic/signup.js"></script>

</html>